body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#main-screen {
    background-image: url(imgs/bg.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    color: white;

    /*Centers verticaly and horizontaly the content*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-screen-content {
    text-align: center;
    text-shadow: 2px 2px black;
}

#main-screen-title {
    border-bottom: 1px white solid;
    width: 650px;
    font-weight: 700;
}

#main-screen-text {
    font-weight: 600;
}

/*Changes font-size on different screen sizes
in this case, it changes according to the width (700px)
*/
@media screen and (min-width: 701px) {
    #main-screen-title {
        font-size: 45px;
    }

    #main-screen-text {
        font-size: 25px;
    }

    #main-screen-title {
        width: 650px;
    }
}

@media screen and (max-width: 700px) {
    #main-screen-title {
        font-size: 30px;
    }

    #main-screen-text {
        font-size: 17px;
    }

    #main-screen-title {
        width: 450px;
    }

    #profile-pic {
        width: 0px;
    }
}

#down-scroll {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out; 
}

#profile {
    background-color: white;
}

.content-box {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

.content-box-top {
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px #353535 solid;
}

.content-box-top h1 {
    color: #29554e; 
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.content-box-top p {
    color: #353535;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.content-box-bottom {
}

.inner-box {
    width: 33%;
    float: left;
    padding-top: 30px;
}

.inner-box h2 {
    text-align: center;
    color: #29554e; 
    font-weight: 600;
    margin: 0 0 25px 0;
}

.inner-box p {
    font-size: 16px;
    margin: 0;
}

.bold-text {
    font-weight: bold;
}

#lang-box {
    float: left;
    margin: 0;
    padding-right: 25px;
    
}

#lang-box-levels {
    float: left;
}

.full-circle {
    background-color: #29554e;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    float: left;
    margin: 5px 5px 2px 0;
}

.empty-circle {
    border:3px #29554e solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    float: left;
    margin: 5px 5px 2px 0;
}

.clear {
    clear: both;
}

#resume {
    background-color: #f3efe0;
}

.resume-div {
    padding-top: 30px;
}

.resume-div-left {
    float: left;
    width: 27%;
}

.resume-div-left h2 {
    text-align: right;
    color: #29554e; 
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.resume-div-right {
    float: right;
    width: 67%;
    padding-left: 3%;
    border-left: 2px #29554e solid;
}

.resume-div-right p {
    margin: 0;
}

.institute {
    font-weight: 600;
    font-size: 20px;
}

.position {
    font-weight: 600;
    font-size: 18px;
    color: #353535;
}

.loc-icon {
    width: 14px;
    padding-right: 3px;
}

.cal-icon {
    width: 14px;
    padding-right: 3px;
}

.location {
    font-size: 14px;
    color: #29554e;
}

.resume-text {
    font-size: 16px;
}

.time {
    font-size: 14px;
    color: #29554e;
}

/*
    background-color: #434242;
*/