

@media only screen and (max-width: 600px) {

    .laptop {
        display: none;
    }

    #navbar {
        display: none;
    }

    /* Home */
    #home h3 {
        font-size: 26px;
    }

    #home h1 {
        font-size: 48px;
    }

    /* Profile */
    #profile .container .bt-box {
        display: flex;
        flex-direction: column;
    }

    #profile .container .right-box p {
        font-size: 20px;
    }

    /* Resume */
    #resume .container .bt-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    #resume .container .bt-box .left-box {
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
        border: none;
    }

    #resume .container .bt-box .left-box h3 {
        font-size: 24px;
    }

    #resume .container .bt-box .right-box .section h3 {
        font-size: 22px;
    }

    #resume .container .bt-box .right-box .section .position {
        font-size: 20px;
    }

    #resume .container .bt-box .right-box .section .icon-text {
        font-size: 16px;
    }  
    
    #resume .container .bt-box .right-box .section .short-text {
        font-size: 20px;
    }

    /* Contact */
    #contact .container .tp-box h4 {
        font-size: 20px;
    }
}